<div class="wrapper-component" style="padding: 10px;">
    <div class="buscador buscador-ajustado">
        <input type="text" [(ngModel)]="query" placeholder="Search Task" (keyup.enter)="search()">     
        <button (click)="search()">Search</button>
    </div>
    <div class="form-container">
        <div class="container-position">
            <div class="card-container">
                <div class="card" *ngFor="let task of tasks" [ngClass]="getColorClass(task.state)">
                    <div class="card-body">
                        <h3 class="card-taskTitle"><strong>Task Title</strong> <br> {{ task.taskTitle }}</h3>
                        <p class="card-description"><strong>Description</strong> <br>{{ task.description }}</p>
                        <p class="card-state"><strong>Stast</strong> <br>{{ task.state }}</p>
                        <p class="card-priority"><strong>Priority</strong> <br>{{ task.priority }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>