  /* edit-modal.component.css */
  .modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
  }

  .modal-content {
    background-color: #fff;
    padding: 20px;
  }

  .d-block {
    display: block;
  }

  .form-container {
    background: rgb(255, 255, 255);
    padding: 3rem 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  .container-position {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card-register {
    display: flex;
    justify-content: center;
  }

  .form-controls {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 20px;
    margin-top: 1rem;
  }

  .button-form {
    width: 100%;
    color: white !important;
    background-color: #46a51b;
    border-radius: 10px;
    display: block;
  }

  .button-form[disabled] {
    background: #e0e0e0;
  }

  .button-formC {
    width: 100%;
    color: white !important;
    background-color: rgb(165, 27, 27);
    border-radius: 10px;
    display: block;
  }

  .file-selected {
    background-color: green;
    /* Cambia este color según tus preferencias */
    color: white;
    /* Cambia este color según tus preferencias */
  }

  .imagen-estandar {
    max-width: 100px;
    /* Ajusta el ancho máximo según tus necesidades */
    max-height: 100px;
    /* Ajusta la altura máxima según tus necesidades */
    width: auto;
    height: auto;
  }