<!-- edit-modal.component.html -->
<div class="modal" [ngClass]="{'d-block': isVisible}" (click)="onClose.emit()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="form-container">
      <div class="container-position">
        <div class="card-register">
          <mat-card>
            <mat-card-title>Register Task</mat-card-title>
            <mat-card-content>
              <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
                <!-- <div class="form-controls">
                    <img [src]="imagen" alt="Imagen" class="imagen-estandar">
                  </div>
                    <div class="form-controls">
                        <button mat-raised-button [class.file-selected]="isFileSelected" (click)="openFileInput()">
                            <mat-icon>cloud_upload</mat-icon>
                            Cargar imagen
                        </button>
                        <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)">
                    </div> -->

                <div class="form-controls">
                  <mat-form-field appearance="outline">
                    <mat-label>Task Name</mat-label>
                    <input type="text" matInput placeholder="Enter the name of the task" formControlName="taskTitle" />
                  </mat-form-field>
                </div>
                <div class="form-controls">
                  <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea type="text" matInput placeholder="Enter your description"
                      formControlName="description"></textarea>
                  </mat-form-field>
                </div>
                <div class="form-controls">
                  <mat-form-field appearance="outline">
                    <mat-label>State</mat-label>
                    <select matNativeControl formControlName="state">
                      <option value="Earring">Earring</option>
                      <option value="Initiated">Initiated</option>
                      <option value="In progress">In progress</option>
                      <option value="Finalized">Finalized</option>

                    </select>
                  </mat-form-field>
                </div>

                <div class="form-controls">
                  <mat-form-field appearance="outline">
                    <mat-label>Priority</mat-label>
                    <select matNativeControl formControlName="priority">
                      <option value="High">High</option>
                      <option value="Half">Half</option>
                      <option value="Low">Low</option>
                    </select>
                  </mat-form-field>
                </div>
                <div class="form-controls" *ngIf="role=='admin'">
                  <mat-form-field appearance="outline">
                    <mat-label>Employe</mat-label>
                    <select matNativeControl formControlName="idUser" (change)="onUserSelectionChange($event)">
                      <option *ngFor="let user of userList" [value]="user.idUser">{{ user.name + ' ' + user.lastName}}</option>
                    </select>
                  </mat-form-field>
                </div>
                <div class="button-container">
                  <mat-spinner *ngIf="processing; else button" class="spin" diameter="35" spinnerColor="#46a51b"
                    mode="indeterminate"></mat-spinner>
                  <ng-template #button>
                    <button [disabled]="eventForm.invalid" class="button-form" type="submit" mat-button>
                      Register
                    </button>
                  </ng-template>
                </div>
                <div class="button-container">
                  <button class="button-formC" (click)="onClose.emit()" type="button" mat-button>
                    Cancel
                  </button>
                </div>
              </form>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>