<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport (openedChange)="adjustTitlePosition($event)">

    <div class="title-dashboard">
      <mat-icon class="tema" aria-hidden="false" aria-label="Example home icon" fontIcon="dashboard"></mat-icon>
      <h2>Home</h2>
    </div>

    <mat-divider></mat-divider>

    <mat-nav-list>
      <a mat-list-item [routerLink]="['/Dashboard/Home']" matTooltip="Home" (click)="closeMenu()">
        <mat-icon class="tema" matListItemIcon>dashboard</mat-icon>
        <div matListItemTitle class="tema">Start</div>
      </a>
      <a mat-list-item [routerLink]="['/Dashboard/ManagementTask']" matTooltip="Manage Tasks" (click)="closeMenu()">
        <mat-icon class="tema" matListItemIcon>assignment</mat-icon>
        <span matListItemTitle class="tema">Manage Tasks</span>
      </a>
      
      <a mat-list-item [routerLink]="['/Dashboard/SearchTask']" matTooltip="Search" (click)="closeMenu()">
        <mat-icon class="tema" matListItemIcon>find_in_page</mat-icon>
        <div matListItemTitle class="tema">Search</div>
      </a>
      
    </mat-nav-list>

    <mat-divider></mat-divider>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['start']" (click)="closeMenu()">
        <mat-icon class="tema" matListItemIcon>settings</mat-icon>
        <div matListItemTitle class="tema">Setting</div>
      </a>
    </mat-nav-list>
    <mat-divider></mat-divider>
    <mat-nav-list>

      <a mat-list-item [routerLink]="['help']" (click)="closeMenu()">
        <div matListItemTitle class="tema">Help</div>
      </a>
      <a mat-list-item [routerLink]="['start']" (click)="closeMenu()">
        <div matListItemTitle class="tema">Contact us</div>
      </a>

    </mat-nav-list>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a mat-list-item (click)="logOut()" (click)="closeMenu()">
        <mat-icon class="tema" matListItemIcon>logout</mat-icon>
        <div matListItemTitle class="tema">Sign off</div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span id="welcomeTitle">Welcome {{username}}</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
